{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container py-5" {{ stimulus_controller('home') }}>
        <h1>Dépôt de fichier</h1>

        {% include 'partials/_alerts-wide.html.twig' %}

        {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                {{ form_row(form.file) }}
                {{ form_rest(form) }}
            </div>
            <div class="card-footer text-end">
                <input type="submit" class="btn btn-primary" id="sendBtn" value="Envoyer" disabled>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
