<table class="table card-table table-vcenter" id="table-details">
    <thead>
    <tr>
        <th>Date</th>
        <th>Montant</th>
        <th>Débit</th>
        <th>Crédit</th>
        <th>Libellé</th>
        <th>Détails</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in data.transactions %}
        <tr>
            <td>{{ transaction.date|format_date('short') }}</td>
            <td>{{ transaction.amount is not same as(null) ? transaction.amount|format_currency('EUR') }}</td>
            <td>{{ transaction.amount is not same as(null) and transaction.amount < 0 ? transaction.amount|abs|format_currency('EUR') }}</td>
            <td>{{ transaction.amount is not same as(null) and transaction.amount >= 0 ? transaction.amount|format_currency('EUR') }}</td>
            <td>{{ transaction.label }}</td>
            <td>
                {% if transaction.metadata is not empty %}
                    <a class="collapsed btn btn-sm"
                       data-bs-toggle="collapse"
                       data-bs-target="#details-{{ loop.index }}"
                       aria-expanded="false"
                       aria-controls="details-{{ loop.index }}"
                    >
                        Voir plus
                    </a>
                {% endif %}
            </td>
        </tr>
        {% if transaction.metadata is not empty %}
            <tr class="border-0">
                <td colspan="6" class="p-0 border-0">
                    <div id="details-{{ loop.index }}" class="p-0 collapse">
                        {% include 'preview/_cfonb_row-detail-table.html.twig' with({metadata: transaction.metadata}) %}
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
